			body{
				/*background: #fcfef4 url(../images/bg.png) repeat-x top left;*/
				font-family: arial;
				padding:0px;
				margin:0px;
			}
			a{
				color:#fcfef4;
				text-decoration:none;
			}
			a:hover{
				color:#fff;
			}
			.score1{
				position:absolute;
				top:60px;
				left:100px;
				padding:0px;
				margin:0px;
				width:180px;
				height:30px;
			}
			.pool1{
				position:absolute;
				top:100px;
				left:100px;
				padding:0px;
				margin:0px;
				width:180px;
				height:300px;
				background-color:#F0F000;
			}
			.buttons1{
				position:absolute;
				top:200px;
				left:300px;
				padding:0px;
				margin:0px;
				width:200px;
				height:30px;
			}
			.pause{
				position:absolute;
				top:200px;
				left:160px;
				padding:0px;
				margin:0px;
				width:100px;
				height:30px;
			}
			.gameover{
				position:absolute;
				top:200px;
				left:150px;
				padding:0px;
				margin:0px;
				width:120px;
				height:30px;
			}
			.pool2{
				position:absolute;
				top:100px;
				left:600px;
				padding:0px;
				margin:0px;
				width:180px;
				height:200px;
				background-color:#F0F000;
			}
			.block{
				position:absolute;
				width:20px;
				height:20px;
				margin:0px;
				padding:0px;
				background-color:#00F0F0;
			}
			.blocks{
				position:relative;
				width:60px;
				height:60px;
				margin:0px;
				padding:0px;
				background-color:#0000F0;
			}
			.boat{
				position:relative;
				width:60px;
				height:60px;
				margin:0px;
				padding:0px;
				/*background-color:#0000F0;*/
				/*background-color:#F0F000;*/
			}
